.content{
	min-height: 70vh;
}

.job button{
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  color: #fff;
  cursor: pointer;
  padding: 8px 0;
  text-align: center;
  align-items: center;
  transition: 0.2s;
  width: 200px;
}