@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800;900&display=swap');

html, body{
	font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

div.profile{
    min-height: 70vh;
    width: 50vw;
    margin: 20px auto;
}

img{
    width: 150px;
    border-radius: 50%;
}

.btn-update{
	background-color: #13aa52;
	border: 1px solid #13aa52;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
	color: #fff;
	cursor: pointer;
	padding: 0 30px;
	text-align: center;
	transition: 0.2s;
	width: 300px;
	height: 40px;
	margin: 20px;
}